<!DOCTYPE html>
<html>
    <head>
        <title>Advanced React Application Example</title>
    </head>
    <body>
        <div id="root">
            Loading...
        </div>

        <script src="bundle.js" charset="utf-8"></script>
    </body>
</html>
